asgiref==3.5.2
Django==4.1.2
sqlparse==0.4.3
djangorestframework
django-filter
django-cors-headers
django-crispy-forms
django-allauth
django-debug-toolbar
django-ckeditor
django-widget-tweaks
django-imagekit
drf-yasg